.menu-custome .nav-link:hover{
    cursor: pointer;
    color: #1664f5;
}
.menu-custome .nav-link{
    font-size: 16px;
}

.header .navbar-custome{
    padding: 16px 30px;
}

.button-custome .btn-primary{
    font-size: 12px;
    padding: 10px 25px;
    font-weight: bold;
    transition: background-color .3s ease, color .3s ease;
}

.button-custome .btn-primary:hover{
    background-color: white;
    color: #1664f5;
}