/* Banner */
.banner {
  position: relative;
}

.banner-body {
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
}

/* MỖI BANNER */
.banner-hero {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.6s ease;
}

/* BANNER ĐANG ACTIVE */
.banner-active {
  opacity: 1;
  z-index: 1;
}

/* IMG BÊN TRONG */
.banner-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* DOT SWIPE */
.dot{   
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: all 0.3s;
}
.dot-active{
    background-color: white;
}

.dot-main{
    position: absolute;
    bottom: 5%  ;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 25px;
    z-index: 100;
}

.banner-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.35);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.banner-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: translate(-33%, -50%) rotate(-135deg);
}

.banner-arrow.next::before {
  transform: translate(-65%, -50%) rotate(45deg);
}

.banner-arrow.prev {
  left: 20px;
}

.banner-arrow.next {
  right: 20px;
}

.banner-arrow:hover {
  background: rgba(0,0,0,0.6);
}
