.banner{
    position: relative;
}
.banner-body{
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.banner-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.dot{   
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: all 0.3s;
}

.dot-main{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 25px;
    z-index: 100;
}

dot:hover {
    background: white;
    transform: scale(1.2);
}
