/* Default */
*{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: "Mulish", sans-serif;
}
/* Header */
/* Ảnh Logo */
.nav__photo{
    height: 25px;
}
/* Thanh Ngang Trái ( Left Navigation ) */
.nav__left,.nav__right{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 30px;
}
.nav__items a{
    text-decoration: none;
    color: #000000;
    font-weight: 550;
    transition: color 0.3s ease, opacity 0.15s ease-in-out ;
}

/* Hover & Active */
.nav__items a:hover{
    color: #1664f5;
}
.nav__items a:active{
    opacity: .75;
}
.nav__items__border:hover{
    background-color: white;
    color: #1664f5;
}
.nav__items__border:active{
    opacity: .75;
}
.nav__items__border a:hover{
    color: #1664f5;

}
/* ---------------- */
.nav__items{
    padding: 10px 10px;
    display: flex;
    align-items: center;
}
/* Thanh Ngang Phải ( Right Navigation ) */
.separator { 
    width: 1px;
    height: 24px;
    background: #e0e0e0;
    margin: 0px 10px;
}

.nav__items__border{
    cursor: pointer;
    border: 1px solid #1664f5 ;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    background-color: #1664f5;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.15s ease-out;
}

